<div class="contact-details-container">
  
    <div class="form-group">
      <label for="firstName" >First Name <span>*</span></label>
      <input type="text" id="firstName" name="firstName"
       [(ngModel)]="nameFields.firstName" 
       required/>
    </div>
    
    <!-- Last Name -->
    <div class="form-group">
      <label for="lastName">Last Name <span>*</span></label>
      <input type="text" id="lastName" name="lastName" 
       [(ngModel)]="nameFields.lastName" 
       required  />
    </div>
  
  
  <!-- Email Address -->
  <div class="form-group">
    <label for="emailAddress">Email Address <span>*</span></label>
    <input type="email" id="emailAddress" name="emailAddress" 
     [(ngModel)]="nameFields.email"
    required />
  </div>
</div>
